\.bash_history
\.bash_logout
\.bashrc \bin/
\.cache/
\.codeblocks/
\.compiz/
\.config/
\.dbus/
\.ddd/
\Desktop/
\.dmrc
\Documents/
\Downloads/
\.eclipse/
\.emacs.d/
\examples.desktop
\.gconf/
\.gdbinit
\.gitkraken/
\.gnome2/
\.gnome2_private/
\.ICEauthority LICENSE.md
\.local/
\.mozilla/
\Music/
\.parallels/
\Pictures/
\.pki/
\.profile
\Public/
README.md/
\.sockets/
\.swt/
\Templates/
\.vboxclient-clipboard.pid
\.vboxclient-display.pid
\.vboxclient-draganddrop.pid
\.vboxclient-seamless.pid
\Videos/
\workspace/
\.Xauthority
\.xinputrc
\.xsession-errors
\.xsession-errors.old
./.atom/**
